.container {
  position: relative;
  width: 100%;
  height: 100%;
  height: 50dvh;
  top: 50dvh;
  padding: 0rem 1rem;
  padding-bottom: 1rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  z-index: 999;
}

.container > * {
  width: fit-content;
}

.hGroup {
  position: relative;
  display: contents;
}

.hGroup ul {
  grid-column: span 2;
}

@media screen and (width < 1024px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .hGroup {
    height: 100%;
    display: flex;

    flex-flow: column;
    justify-content: space-between;
  }
}
