.container {
  position: relative;
  width: 100%;
  height: 100%;
  height: 50dvh;
  top: 50dvh;
  padding: 1rem 1.5rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  z-index: 999;
  /* mix-blend-mode: difference; */
}

.container > * {
  width: fit-content;
  /* align-self: flex-end; */
}
