body {
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 95%);
  /* background-color: black; */

  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.15;
}

a,
button {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
