.main {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  transition: all 0.3s ease-in-out;

  overflow: hidden;
}

.email {
  position: relative;

  font-family: Helvetica, Arial, sans-serif;

  font-size: clamp(1rem, 15vw, 100rem);
  font-size: 1rem;
  line-height: 0.55;
  letter-spacing: -0.025em;
  font-weight: bold;
  text-align: center;
  color: black;
  white-space: nowrap;
  /* text-decoration: underline; */
  text-decoration-thickness: 0.1em;

  /* transition: color 0.6s ease-in-out; */
  cursor: pointer;
}

/* .email:before {
  content: "info@sete.ee";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: black;
  transition: top 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.email:after {
  content: "info@sete.ee";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: black;
  transition: top 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 100ms;
} */

.email:hover {
  color: hsl(0, 0%, 50%);
}

.email:hover:before {
  /* top: 75%; */
  /* color: hsl(0, 0%, 12.5%); */
}

.email:hover:after {
  /* top: 100%; */
}
